* {

  margin: o;


}

a {

  text-decoration: none;
  color: white;

}

html {

  font-family: helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  width: auto;

}

.container {

  width: 960px;
  height: auto;

}

/* logo */

.logo {

  width: 100%;
  height: auto;
  background-color: black;
  justify-content: flex-start;
  align-items: center;
  padding: 0.66rem 0.5rem;

}

.logo .container {

  display: inline-flex;
  align-items: center;
  justify-content: flex-start;

}

.logo span {

  color: white;
  font-size: 1rem;

}

.logo img {

  height: 1.5rem;
  width: auto;
  margin-right: 1rem;

}

/* header */


.main {

  width: 100%;
  height: 25rem;
  background-image: url('../images/moto.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.main .container {

  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 9rem;


}

.header-text {

  width: 20rem;
  padding: 2rem 3rem;
  background-color: black;

}

.header-text h1 {

  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  color: white;

}

.header-text h3 {

  font-size: 1rem;
  font-weight: bold;
  text-align: left;
  color: white;
  margin-bottom: 0.25rem;


}

/* navigation */


nav {

  display: flex;
  background-color: firebrick;
  width: 100%;
  height: 2rem;
  padding: 0.75rem 0rem;
  align-items: center;
  justify-content: center;

}

nav .container {

  display: inline-flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;


}

nav span {


}


@media only screen and (max-width: 600px) {

  nav .container {
      display: none;
  }

}

/* product section */

.product-section {

  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  justify-content: center;

}

.product-section .container {

  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;


}

.product {

  display: inline-flex;
  width: 30%;
  height: auto;

}

.glasses {

  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 4px solid black;

}

.pen {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 4px solid black;
}

.watch {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border: 4px solid black;
}

.product p {

  color: white;
  padding: 0.5rem 0;
  background-color: black;
  width: 100%;

}

.product img {

  height: 9rem;
  padding: 2rem 0rem;

}

.glasses img {

  width: 9rem;
  height: auto;
  padding-top: 4.5rem;

}

@media only screen and (max-width: 768px){

  .container {

    width: 100%;
    height: auto;

  }


  .product-section .container {

    display: inline-flex;
    justify-content: space-around;
    margin: 0;

  }


  .product {

    display: inline-flex;
    align-items: flex-end;
    width: 47%;
    height: 15rem;

  }


  .product .glasses {

    display: none;

  }

}

/* location and hours */

.location-hours {

  width: 100%;
  height: auto;
  margin-top: 3rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}

.location-hours .container {

  display: inline-flex;
  justify-content: space-between;


}

.info {

  display: inline-flex;
  flex-direction: column;
  width: 35%;

}

.black {

  background-color: black;
  color: white;
  width: 100%;
  padding: 1rem 0rem 1rem 2rem;

}

.info p {

  text-align: left;

}


/* footer */


footer {

  display: flex;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: black;
  color: white;

}
